{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'exams/css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <span>Logged in as: {{user.username}}</span>
                {% if user.is_authenticated %}
                <span>
                    <a class="btn btn-secondary" href="{% url 'logout' %}">Log Me Out!</a>    
                </span>
                {% endif %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>