{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome {{user.username}} (AKA {{user.profile.nickname}})</h1>
        {% if user.profile.picture != '' %}
        <img src={{user.profile.picture}} width=100 height=100/>
        {% endif %}
    {% else %}
        <h1>Welcome Stranger</h1>
    {% endif %}

    <h1>This is your Exams Dashboard</h1>

    <h2>You can find questions <a href="{% url 'questions' %}">here</a></h2>

    <h2>You can view students <a href="{% url 'students' %}">here</a></h2>

    <h2>Search for a question <a href="{% url 'search' %}">here</a></h2>

    {% if user.is_superuser %}
    <p>
        <button class="btn btn-danger">Self Destruct</button>
    </p>
    {% endif %}
    <p>
        <input type="text" name="text" id="text" placeholder="Enter some text" />
        <button id="fetchdata1" class="btn btn-info">Add a user</button>
    </p>
    <script type="text/javascript" src="{% static 'exams/js/script.js' %}"></script>
{% endblock %}