{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    
    <h1>Questions</h1>

    {% if question_list %}
    
    {% for question in question_list %}
    <a href="{% url 'question' pk=question.id %}">
        <h5>{{question.text}}</h5>
    </a>
    {% endfor%}
    <hr>
    
    {% endif%}
    
    <a href="{% url 'home' %}" class="btn btn-primary" >Back to Home</a>
    <a href="{% url 'add-question' %}" class="btn btn-danger" >Add Question</a>
</div>
{% endblock %}