{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-4">
    
    <h1>Students</h1>
    
    {% if student_list %}
    
    {% for student in student_list %}
    <div>
        <a href="{% url 'student' id=student.id %}">
            <h5>{{student.user.username}}</h5>
            <img src="{{student.profile_pic}}" alt="" width=100px height=100px style="border-radius: 50%;">
        </a>
    </div>
    
    {% endfor%}
    <hr>
    
    {% endif%}
    
    <a href="{% url 'home' %}" class="btn btn-primary" >Back to Home</a>
</div>
{% endblock %}