body {
    background-image: url("ironman6.jpeg");
    background-color: #cccccc;
    text-align: center;
    color: beige
    
   }
   a {
    color: beige
   }

   .container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
​
}
.salepoint{
    text-align: center;
}