section {
    border: 1px solid red; 
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

#div1 {
    color: white;
    text-align: center;
    border: 1px solid lightskyblue;
    background-color:lightskyblue;
    width:1400px;
    height: 120px;
    align-items: center;

}

#div2 {
    color: white;
    text-align: center;
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    width: 600px;
    height: 270px;
    padding: center;
}

#div3 {
    color: white;
    text-align: center;
    border: 1px solid lightskyblue;
    background-color: lightskyblue;
    width: 1400px;
    height:120px;
}
@media screen
 and (min-width: 600px)
 and (max-width: 1600px) {
}