h1 {
    color: red;
}

h1:hover{
    color: blue;
}

body{
    
}

#header{
    height:40px;
    background:grey;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

#login-box {
    width: 500px;
    margin:auto;
}